<launch>
  <include file='$(find effibot_driver)/launch/tf_base_link_to_laser.launch'/>
  <node name="effibot2_pl" pkg="effibot_driver" 
  	type="payload_monitor" 
	ns='effibot1' />
  <node name="effibot1" pkg="effibot_driver" type="velocity_node" 
	output="screen">
    <param name="ip" value="172.16.51.70" />
    <param name="state/bumper" type="int" value="1" />
    <param name="utm_x_origin" type="double" value= "398369.61" />
    <param name="utm_y_origin" type="double" value="4903128.01" />
    <param name="utm_zone" type="string" value="31T" />
  </node>

  <node name='nmea_to_fix' pkg='nmea_navsat_driver' type ='nmea_topic_driver'>
	<remap from='/fix' to='/effibot1/gps'/>
	<remap from='/nmea_sentence' to='/effibot1/gps_nema'/>
  </node>
</launch>
