<launch>
  <arg name="agent" default="effibot1"/>
  <group ns="$(arg agent)">
    <param name="ip" value="172.16.51.70" />
    <param name="utm_origin_x" type="double" value= "376734.39" />
    <param name="utm_origin_y" type="double" value= "4825392.59" />
    <param name="utm_zone" type="string" value="31T" />
    <param name="state/bumper" type="int" value="1" />

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser"
	  args="0 0 0.200 0 0.35 0 $(arg agent)_base $(arg agent)_laser 10" />

    <node name="payload_monitor" pkg="effibot_driver" type="payload_monitor" />
    <node name="driver" pkg="effibot_driver" type="full_node" 
	  args="$(arg agent)" output="screen">
    </node>

    <node name='nmea_to_fix' pkg='nmea_navsat_driver' type ='nmea_topic_driver'>
      <remap from='fix' to="gps"/>
      <remap from='nmea_sentence' to="gps_nmea"/>
    </node>
  </group>
</launch>
